{% extends 'header.html' %}

{% block title %}
MSAi
{% endblock %}

{% block body %}

</br>
</br>
</br>
<div class="common-title">Marksheet Analysis System Powered by AI</div>
</br>
</br>
<a class="main-button" href="/upload" id="startButton"> Start Analysing </a>


<div class="h_line" id="main_page_h_line"></div>

<div class="common-title"> USE CASES  </div>

<div id="main-page-use-cases-container">
    <div class="use-case-example">
        <div class="use-case-example-title">Marksheet Analysis</div>
        <ul class="enumeration-of-options">
            <li>◉ Upload your Marksheet to get the data analysed and stored</li>
            <br>
            <li>◉ Ability to store privately or publicly</li>
        </ul>
    </div>

    <div class="use-case-example">
        <div class="use-case-example-title">Search Records</div>
        <ul class="enumeration-of-options">
            <li>◉ Search the ingested records through Search Bar</li>
            <br>
            <li>◉ Results get displayed in tabular fashion</li>
            <br>
            <li>◉ Search empty to list all available records</li>
        </ul>
    </div>
</div>
<br>
{% endblock %}